
<h1><%= @post.title %></h1>

<h3><%= @post.body %></h3>

<h5><%= @post.created_at %></h5>
<h5><%= @post.updated_at %></h5>

<h5><%= @post.category_id %></h5>
<h5><%= @post.id %></h5>
<h5><%= @post.likes %></h5>

